{% extends "posts/post_base.html" %}
{% load bootstrap4 %}
{% block post_content %}
<h2 class="font-weight-bold">검색</h2>
    <form method="get" action=".">
        <table>
            {% bootstrap_form form %} 
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" class="btn btn-outline-primary" value="검색">
                </td>
            </tr>
        </table>
        {% if query %}
            <h3>결과</h3>
            {% for result in page.object_list %}
            <ul><li><a href="{{ result.object.get_absolute_url}}"><p>{{ result.object.title }}</p></a></li></ul>
            {% empty %}
                <p>찾으시는 결과가 없습니다.</p>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}