{% extends "posts/post_base.html" %}
{% block post_content %}
{% for post in post_list %}
    <a style="color: inherit;" class="card-link" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
        <div class="box card bg-white rounded">
            <div class="card-body">
                {{post.user.username}}
                <p class="font-weight-light">{{post.created_at}}</p>
                <p>{{post.link}}</p>
                <p class="text-monospace">{{post.text|safe}}</p>
            </div>
        </div>
    </a>
{% endfor %}
{% endblock %}
<script type="text/javascript"> // 박스 전체를 링크로 만듦
    $(".box").click( () => {
        window.location = $(this).find("a").attr("href");
        return false;
    })
</script>

