{% extends "posts/post_base.html" %}
{% block post_content %}
<body>
    <div class="card-columns"> <!-- 메인 페이지 카드 형태 게시물 표시 -->
        {% for post in post_list %}
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/UA_Flight_175_hits_WTC_south_tower_9-11_edit.jpeg/1024px-UA_Flight_175_hits_WTC_south_tower_9-11_edit.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-truncate">
                <h5 class="card-title"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.title}}</a></h5>
                {{post.text|safe}}
                <cite title="Source Title"><a href="{% url 'posts:for_user' username=post.user.username %}"><small>by {{post.user.username}}</small></a></cite>
                <button type="button" class="btn btn-info btn-sm">원문 국가 표시</button>
            </div>
        </div>
        {% endfor %}
    </div>  
</body>
{% endblock %}