{% extends "posts/post_base.html" %}
{% block post_content %}
<body>
    <div class="card-columns"> <!-- 메인 페이지 카드 형태 게시물 표시 -->
        {% for post in post_list %}
        <a style="color: inherit;"class="card-link" href="{% url 'posts:single' username=post.user.username pk=post.pk %}"> 
            <div class="box card bg-white rounded hoverable view overlay">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{post.title|truncatechars:20}}</h5>
                    {{post.text|safe|truncatechars:50}} <!--truncate 삭제하면 이미지 나타남 하지만 사이즈 문제있음-->
                    <p class="blockquote-footer">{{post.user.username}}</p>
                    <div class="mask flex-center rgba-blue-light"><p class="black-text">{{post.category}}</p></div>
                </div>
            </div>     
        </a>  
        {% endfor %}
    </div>
</body>
{% endblock %}
<script type="text/javascript"> // 박스 전체를 링크로 만듦
    $(".box").click(function(){
        window.location = $(this).find("a").attr("href");
        return false;
    })
</script>
