{% extends "posts/post_base.html" %}
{% block post_content %}
<body>
    <div class="card-columns"> <!-- 메인 페이지 카드 형태 게시물 표시 -->
        {% for post in post_list %}
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.title|truncatechars:20}}</a></h5>
                {{post.text|safe|truncatechars:30}} <!--truncate 삭제하면 이미지 나타남 하지만 사이즈 문제있음-->
                <cite title="Source Title"><a href="{% url 'posts:for_user' username=post.user.username %}">
                    <small>by {{post.user.username}}</small></a></cite>
                <button type="button" class="btn btn-outline-dark btn-sm">{{post.link|urlizetrunc:0}}</button>
            </div>
        </div>
        {% endfor %}
    </div>  
</body>
{% endblock %}