{% extends "posts/post_base.html" %}

{% block post_content %}
<div class="col-lg"> <!-- 게시판 테이블 상단 head -->
	<div class="table-responsive">
		<table class="table">
		<thaed>
			<tr>
			<th scope="col">번호</th>
			<th scope="col">제목</th>
			<th scope="col">작성자</th>
			<th scope="col">작성일시</th>
			</tr>
		</thaed>
		</table>
	</div>	    
	{% for post in post_list %}
        {% include "posts/_post.html" %}
	{% endfor %}
<!-- 페이지네이션 코드 -->
	{% if is_paginated %}
  	<ul class="pagination pg-blue justify-content-center">
    {% if page_obj.has_previous %}
      <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-link disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-link"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-link disabled"><span>&raquo;</span></li>
    {% endif %}
  	</ul>
	{% endif %}
</div>
{% endblock %}
