{% extends "posts/post_base.html" %}
{% block post_content %}
<div class="dropdown show">
  <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    분류
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'posts:all' %}">전체</a>
    <a class="dropdown-item" href="{% url 'posts:translation' %}">번역</a>
    <a class="dropdown-item" href="{% url 'posts:free_speech' %}">자유</a>
    <a class="dropdown-item" href="{% url 'posts:ask_trans' %}">번역 요청</a>
  </div>
</div>
{% for post in post_list %}
  {% include "posts/_post.html" %}
{% endfor %}
<!-- 페이지네이션 코드 -->
{% if is_paginated %}
  <ul class="pagination pg-blue justify-content-center">
    {% if page_obj.has_previous %}
      <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-link disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-link"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-link disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}
