{% extends "posts/post_base.html" %}
{% load social_share %}
{% block post_content %}
    <div class="container">  <!--타이틀 -->
        <h1 class="display-3">{{post.title|safe}}</h1>
        <div class="media-footer d-flex flex-row-reverse">
            <i class="far fa-eye"> {{ hitcount.total_hits }}</i>
            <small class="text-muted align-middle">{{ post.created_at }}</small>
            {% if user.is_authenticated and post.user == user and not hide_delete %}
                <a href="{% url 'posts:delete' pk=post.pk %}" title="delete">
                    <button type="button" class="btn btn-outline-danger">삭제</button>
                </a>
                <a href="{% url 'posts:update' pk=post.pk%}" title="update">
                    <button type="button" class="btn btn-outline-warning">수정</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="jumbotron"> <!-- 본문 -->
        {{post.text|safe}} 
        <div class="btn-group" style="margin-bottom:-5em"> <!-- (좋아요, 공유 버튼 등) -->
            <button type="button" class="btn btn-light"><i class="far fa-heart"></i></button>
            <button type="button" class="btn btn-light">{% post_to_facebook post.get_absolute_url "Facebook" %}</button>
            <button type="button" class="btn btn-light">{% post_to_twitter post.title post.get_absolute_url "Twitter" %}</button>
            <button type="button" class="btn btn-light"><i class="fas fa-bug"></i></button>
            <button type="button" class="btn btn-light"><i class="fas fa-bookmark"></i></button>
        </div>
    </div>
    <h3 class="display-5">댓글</h3>
    {% if user.is_authenticated %}
    <form action="{% url 'posts:comment_write' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <textarea type="text" name="comment_text" rows="3"></textarea>
        <input type="submit" class="btn btn-outline-primary" value="write">
    </form>
    {% endif %}
    {% for comment in post.comments.all %}
    <div class="container">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-body">
                    작성자 {{comment.comment_writer}}
                    <p class="font-weight-light">{{comment.comment_date}}</p>
                    <p class="text-monospace">{{comment.comment_text}}</p>
                    {% if user.is_authenticated and comment.comment_writer == user %}
                    <a class="btn btn-primary btn-sm" href="{% url 'posts:comment_remove' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
            </div>
        </div>
    </div>
   
    {% empty %}
        <p>No Comment</p>
    {% endfor %}
{% endblock %}

